[Unit]
Description=Unifi voucher printer
Documentation=https://github.com/steinbart/voucherpi
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/pi/voucherpi
ExecStart=/usr/bin/python3 /home/pi/voucherpi/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
