<!doctype html>
<html>
<head>
    <title>Voucher generator</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @media print {
            .hide-print {
                display: none;
            }
        }

        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        #app {
            flex: 1 0 auto;
        }
    </style>
</head>
<body>

<div id="app">
    <div class="container">
        <h2>Steinbart - WiFi Voucher</h2>
        <p class="flow-text">Dieser Code berechtigt eine Klasse (35 Geräte) zur Internetnutzung für eine
            Unterrichtsstunde (67 Minuten).</p>
        <div class="card-panel z-depth-3 indigo darken-4" style="padding: 1vh;">
            <h1 class="white-text center">
                <code>%code%</code>
            </h1>
        </div>
        <h3>Anleitung zur Nutzung vom WLAN am Steinbart-Gymnasium</h3>
        <ol class="flow-text">
            <li>Verbinden Sie sich mit dem WLAN-Netzwerk "Steinbart-Gymnasium Voucher"</li>
            <li>Warten Sie, bis das Gerät Sie zur Eingabe eines Vouchers auffordert oder rufen Sie
                <a href="https://unifi.steinbart.xyz">https://unifi.steinbart.xyz</a> manuell auf
            </li>
            <li>Geben Sie den obigen Voucher ein und klicken Sie auf "Connect"</li>
        </ol>
        <h3>Räume, in denen das WiFi nutzbar ist</h3>
        <p class="flow-text">Aufgrund mangelnder Finanzierung ist das WiFi Netzwerk aktuell nur in manchen Teilen des
            Steinbart-Gymnasiums verfügbar:</p>
        <ul>
            <li>Altbau (insb. NW, Abdeckung in den mittleren Räumen im 3. OG eingeschränkt!)</li>
            <li>Stahlbau (insb. in den äußeren Räumen)</li>
            <li>Nigelnagelneubau</li>
        </ul>
        <h3>Hinweis</h3>
        <p class="black-text flow-text">Falls Sie es noch nicht wussten: Lehrer können das WLAN ohne Voucher nutzen!
            Melden Sie sich hierzu einfach in dem Lehrer Netzwerk mit Ihren IServ Benutzerdaten an.
            Falls Sie bei der Einrichtung Hilfe benötigen, sind wir selbstverständlich für Sie erreichbar.</p>
        <hr>
        <p class="flow-text">Bei Fragen oder Problemen erreichen Sie das Netzwerk-Team unter <a
                href="mailto:support@steinbart.xyz">support@steinbart.xyz</a>. Bitte melden Sie uns sofort, falls
            Probleme auftreten.</p>
    </div>
</div>
